/* 

body {
  font-family: 'Playfair Display', serif;
  background-color: #E0DDCF;
}

h1 {
  text-align: center;
}
.search-section {
  padding: 10px;
  margin: 10px;
  background-color: #F1F0EA
}

.pup-pics {
  display: flex;
  flex-flow: column;
  width: 200px;
/* display: flex;
  justify-content: center;
  align-content: space-between;
  flex-flow: column wrap;
  max-width: 100px;
  height: auto; */
/* }

.cat-pics {
  display: flex;
  flex-flow: column; */
  /* display: flex;
  justify-content: center;
  align-content: space-between;
  flex-flow: column wrap;
  max-width: 100px;
  height: auto; */
/* }

img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;

} */ 

body {
  font-family: 'Playfair Display', serif;
  background-color: #E0DDCF;
}
h1 {
  text-align: center;
}
.search-section {
  justify-content: center;
  padding: 10px;
  margin: 10px;
  background-color: #F1F0EA
}
  
.content {
  display: flex;
  justify-content: space-between; /* Gap between pups and cats */
}
 
.pup-pics {
  display: flex;
  flex-flow: column; 
  
}
.cat-pics {
 
  display: flex;
  flex-flow: column;
  
}
img {
  
  max-width: 100px;
  max-height: 100px;
  margin: 50px 0 50px 0;
  
}
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px; /* To center it vertically */
  color: white;
}